/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <230>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        combos{
                compatible = "zmk,combos";
                combo_enter {
                    timeout-ms = <50>;
                    key-positions = <6 18>;
                    bindings = <&kp BSCP>;
                };
                combo_esc {
                    timeout-ms = <50>;
                    key-positions = <6 7>;
                    bindings = <&kp DEL>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer { 
                        label = "Base";
                        bindings = <
//          ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────────┬─────────────┬───────────────╮
//          |  ALT          |  w  q       |  e   é      |  r          |  t  z       | |  u    ú     |  i   í      |  o  ó           |  p          |    ESC        | 
     &none     &kp LALT        &hm W Q       &hm SEMI E    &kp R         &hm Y T         &hm RBKT U    &hm GRAVE I   &hm EQUAL O       &kp P           &kp ESC       &none      
//          ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┼───────────────┤
//          |  SHIFT        |  a    á     |  s          |  d          |  f  g       | |  h          |  j          |  k              |  l          |    BSPC       |    
     &none     &kp LSHIFT      &hm SQT A     &kp S        &kp D          &hm G F         &kp H         &kp J         &kp K             &kp L           &kp BSPC      &none  
//          ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┼───────────────┤
//          |  CTRL         | y  í        |  x          |  c          |  v          | |  b          |  n  m       |  , .            |  -          |    TAB        |    
     &none     &kp LCTRL      &hm RA(J) Z    &kp X         &kp C         &kp V           &kp B         &hm N M       &hm DOT COMMA     &kp FSLH        &kp TAB       &none
//          ╰───────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┴───────────────╯
//                                        |             |             |  SPACE      | |  ENTER      |             |  ALT GR         |                           
                                             &kp LGUI       &mo 1        &kp SPACE       &kp RET       &mo 2         &kp RALT
//                                        ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────────╯                                         

                        >;
                };


                lower_layer { 
                        label = "Left";
                        bindings = <
//        ╭─────────────┬─────────────┬───────────────┬──────────────┬─────────────────╮ ╭─────────────┬─────────────┬──────────────────┬──────────────┬─────────────────╮
//        |             |             | PAGE UP /UP   |              | PRINTSCREEN     | |  ü   ű      |             |   ö   ő          |              |                 |    
   &none     &trans        &none        &hm PG_UP UP     &none         &kp PRINTSCREEN    &hm BSLH MINUS    &trans     &hm LBKT NUMBER_0    &trans        &trans           &none
//        ├─────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├─────────────┼─────────────┼──────────────────┼──────────────┼─────────────────┤
//        |             | HOME / LEFT |  TAB          | END/ RIGHT   |                 | |             |             |                  |              |  DEL            |    
   &none     &trans      &hm HOME LEFT   &kp TAB        &hm END RIGHT   &none               &trans        &trans        &trans              &trans        &kp DEL          &none
//        ├─────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├─────────────┼─────────────┼──────────────────┼──────────────┼─────────────────┤
//        |             |             | PG_DN/DOWN    |              |                 | |             |             |                  |              |                 |     
   &none     &trans       &none         &hm PG_DN DOWN   &none          &none               &trans         &trans       &trans              &trans         &trans          &none
//        ╰─────────────┴─────────────┼───────────────┼──────────────┼─────────────────┤ ├─────────────┼─────────────┼──────────────────┼──────────────┴─────────────────╯
//                                    |               |              |                 | |             |             |                  |   
                                        &trans           &trans         &trans              &trans        &mo 3         &trans
//                                    ╰───────────────┴──────────────┴─────────────────╯ ╰─────────────┴─────────────┴──────────────────╯                                         

                        >;
                };


                raise_layer { 
                        label = "Right";
                        bindings = <
//          ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//          |             | "           |  /          |  (         |  =          | |              |   7         |  8          | 9           |             |     
    &none      &trans       &kp AT        &kp CARET     &kp NUMBER_8   &kp AMPS         &none         &kp N7       &kp N8       &kp N9        &trans        &none  
//          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          |             |  %          |  !          | )           |  *          | |             |   4         |  5          | 6           |             |     
    &none      &trans       &kp PRCN      &kp DLLR     &kp LPAR     &kp KP_MULTIPLY    &none         &kp N4       &kp N5        &kp N6        &trans         &none 
//          ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          |             |  +          |  '          |             |             | | 0           |   1         |  2          | 3           |             |     
    &none      &trans        &kp HASH      &kp EXCL        &none        &none         &kp KP_N0      &kp N1       &kp N2       &kp N3         &trans        &none   
//          ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
//                                      |             |             |             | |             |             |             |     
                                           &trans         &mo 3        &trans           &trans        &trans        &trans
//                                      ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯                                         
                                                                                                                     
                        >;
                };

                f_keys_layer { 
                        label = "F_keys";
                        bindings = <
//        ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬──────────────┬─────────────┬─────────────╮
//        |             |  F1         |  F2         |  F3         |  F4         | |bt prof clear|             | BT1          | BT4         |             |   
   &none     &trans        &kp F1        &kp F2        &kp F3        &kp F4         &bt BT_CLR     &none        &bt BT_SEL 0  &bt BT_SEL 3    &trans        &none   
//        ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
//        |             |  F5         |  F6         |  F7         |  F8         | |             |             | BT2          |  BT5        |             |   
   &none     &trans        &kp F5        &kp F6        &kp F7        &kp F8          &none         &none        &bt BT_SEL 1  &bt BT_SEL 4    &trans        &none
//        ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
//        |             |  F9         |  F10        |  F11        |  F12        | |             |             | BT3          |             |             |   
   &none     &trans        &kp F9        &kp F10       &kp F11       &kp F12         &none         &none         &bt BT_SEL 2    &none        &trans        &none
//        ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┴─────────────╯
//                                    |             |             |             | |             |             |              |   
                                         &trans        &trans        &trans          &trans        &trans        &trans
//                                    ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴──────────────╯                                         

                        >;
                };

        };
};
