/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        combos{
                compatible = "zmk,combos";
                combo_enter {
                    timeout-ms = <50>;
                    key-positions = <6 18>;
                    bindings = <&kp BACKSPACE>;
                };
                combo_esc {
                    timeout-ms = <50>;
                    key-positions = <6 7>;
                    bindings = <&kp DEL>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer { 
                        label = "Base";
                        bindings = <
//          ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────────┬─────────────┬───────────────╮
//          |  ALT          |  q          |  w          |  e(é)       |  t          | |  u(ú)       |  i(í)       |  o(ó)           |  p          |    ESC        | 
     &none     &kp LALT        &kp Q        &kp W         &hm SEMI E    &kp T           &hm RBKT U    &hm RA(J) I   &hm EQUAL O       &kp P           &kp ESC       &none      
//          ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┼───────────────┤
//          |  SHIFT        |  a          |  s          |  d (shift)  |  f(g)       | |  j(h)       |  k          |  l              |  BSPC       |    DEL        |    
     &none     &kp LSHIFT      &kp A        &kp S         &hm LSHIFT D   &hm G F         &hm H J       &kp K         &kp L             &kp BSPC        &kp DEL      &none  
//          ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┼───────────────┤
//          |  CTRL         |  z(y)       |  x          |  c          |  v          | |  n          |  b          |  , (.)          |  -          |   ALT GR      |    
     &none     &kp LCTRL      &hm Z Y       &kp X         &kp C         &kp V            &kp N         &kp B        &hm DOT COMMA     &kp FSLH        &kp RALT      &none
//          ╰───────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────────┼─────────────┴───────────────╯
//                                        |  TAB        |             |  SPACE      | |  ENTER      |             |  ALT GR         |                           
                                             &kp TAB       &mo 1        &kp SPACE        &kp RET       &mo 2         &kp LGUI
//                                        ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────────╯                                         

                        >;
                };


                lower_layer { 
                        label = "NAVI";
                        bindings = <
//        ╭─────────────┬─────────────┬───────────────┬──────────────┬─────────────────╮ ╭────────────────┬───────────────┬──────────────────┬────────────────┬─────────────────╮
//        |             |             |               | UP(PAGE UP)  | r               | |  ü(ű)          | UP(PAGE UP)   |   ö(ő)           | PRINTSCREEN    |                 |    
   &none     &trans        &none        &none           &hm PG_UP UP   &kp R               &hm BSLH MINUS   &hm PG_UP UP    &hm LBKT NUMBER_0  &kp PRINTSCREEN  &trans             &none
//        ├─────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────┼───────────────┼──────────────────┼────────────────┼─────────────────┤
//        |             |  á          | LEFT(HOME)    |  TAB         | RIGHT(END)      | |  LEFT(HOME)    |  TAB          | RIGHT(END)       |                |  BSPC           |    
   &none     &trans        &kp SQT      &hm HOME LEFT   &kp TAB        &hm END RIGHT       &hm HOME LEFT     &kp TAB        &hm END RIGHT        &trans          &kp BSPC          &none
//        ├─────────────┼─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────┼───────────────┼──────────────────┼────────────────┼─────────────────┤
//        |             |             |               | DOWN(PG_DN)  |                 | |   m            | DOWN(PG_DN)   |                  |                |                 |     
   &none     &trans       &none         &none           &hm PG_DN DOWN   &none               &kp M         &hm PG_DN DOWN     &trans             &trans          &trans            &none
//        ╰─────────────┴─────────────┼───────────────┼──────────────┼─────────────────┤ ├────────────────┼───────────────┼──────────────────┼────────────────┴─────────────────╯
//                                    |               |              |                 | |                |               |                  |   
                                        &trans           &trans         &trans              &trans           &mo 3          &trans
//                                    ╰───────────────┴──────────────┴─────────────────╯ ╰────────────────┴───────────────┴──────────────────╯                                         

                        >;
                };


                raise_layer { 
                        label = "SIMBOL";
                        bindings = <
//          ╭─────────────────┬─────────────┬─────────────────┬─────────────────┬─────────────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//          |   ~             |  " (')      |  #              |   /  \          |  ( )                | |             |   7         |  8          | 9           |             |     
    &none     &kp LA(NUMBER_1)  &hm EXCL AT    &kp LA(X)        &hm CARET LA(W)  &hm LPAR LS(NUMBER_8)     &none         &kp N7       &kp N8        &kp N9          &trans        &none  
//          ├─────────────────┼─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          |  *              |  %          |  "|"            |  &              |  [ ]                | | 0           |   4         |  5          | 6           |             |     
    &none     &kp KP_MULTIPLY    &kp PRCNT     &kp LA(W)         &kp LA(C)         &hm LA(G) LA(F)        &kp KP_N0       &kp N4       &kp N5       &kp N6          &trans        &none 
//          ├─────────────────┼─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//          |  !              |  +          |  !              |  <>             |  { }                | |             |   1         |  2          | 3           |             |     
    &none      &kp DLLR          &kp HASH     &kp LS(NUMBER_6)   &hm LA(M) LA(Y)   &hm LA(N) LA(B)         &none          &kp N1       &kp N2       &kp N3          &trans        &none   
//          ╰─────────────────┴─────────────┼─────────────────┼─────────────────┼─────────────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
//                                          |                 |                 |                     | |             |             |             |     
                                                 &trans              &mo 3           &trans                &trans        &trans        &trans
//                                          ╰─────────────────┴─────────────────┴─────────────────────╯ ╰─────────────┴─────────────┴─────────────╯                                         
                                                                                                                     
                        >;
                };

                f_keys_layer { 
                        label = "F_keys";
                        bindings = <
//        ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬──────────────┬─────────────┬─────────────╮
//        |             |  F1         |  F2         |  F3         |  F4         | |bt prof clear|             | BT1          | BT4         |             |   
   &none     &trans        &kp F1        &kp F2        &kp F3        &kp F4         &bt BT_CLR     &none        &bt BT_SEL 0   &bt BT_SEL 3   &trans        &none   
//        ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
//        |             |  F5         |  F6         |  F7         |  F8         | |             |             | BT2          | BT5         |             |   
   &none     &trans        &kp F5        &kp F6        &kp F7        &kp F8          &none         &none        &bt BT_SEL 1   &bt BT_SEL 4   &trans        &none
//        ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
//        |             |  F9         |  F10        |  F11        |  F12        | |             |             | BT3          |             |             |   
   &none     &trans        &kp F9        &kp F10       &kp F11       &kp F12         &none         &none         &bt BT_SEL 2    &none        &trans        &none
//        ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼──────────────┼─────────────┴─────────────╯
//                                    |             |             |             | |             |             |              |   
                                         &trans        &trans        &trans          &trans        &trans        &trans
//                                    ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴──────────────╯                                         

                        >;
                };

        };
};
